#container_four {
  background-color: #ecd2c9;
  padding: 5% 0%;
}
.carousel {
  width: 70%;
  height: auto;
  margin: 0% 15%;
  position: relative;
  overflow: hidden;
}
.slides {
  display: flex;
  height: 100%;
} 
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%; 
} 
.slide-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
}
.slide-controls img {
  width: 2vw;
  cursor: pointer;
}
.next-btn,
.prev-btn {
  background: transparent;
  border: none;
  padding: 2vw;
}
.next-btn:focus,
.prev-btn:focus {
  outline: none;
}
.play, 
.pause {
  opacity: 0;
  position: absolute;
  width: 4vw;
  outline: none;
  top: 54%;
  transform: translateY(-100%);
  left: 48%;
}
